<!DOCTYPE html>
<html>
<head>
    <title>Account List</title>
</head>
<body>
    <h1>Account List</h1>
    <table>
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account[0] }}</td>
                    <td>{{ account[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
